p {
  font-family: verdana;
 }

 .title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
 }

 .level {
   font-size: 18px;
   margin-top: 0;
   margin-bottom: 15px;
   color: gray;
 }

 .description {
   width: 300px;
   margin-top: 0;
   margin-bottom: 20px;
 }

 .get-started-button {
  background-color: green;
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  margin-top: 0;
  cursor: pointer;
 }