  p {
    font-family: arial;
    margin-bottom: 0;
    margin-top: 0;
  }

.rate {
  font-size: 30px;
}

.usd {
  font-size: 16px;
  margin-left: 10px;
  color: gray;
}

.today {
  color: green;
  margin-top: 8px;
  margin-bottom: 8px;
}

.hours {
  color: gray;
  
}

.change {
  color: red;
}