  p {
    font-family: arial;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }

.id {
  color: gray;
}

.description {
  width: 600px;
  margin-top: 10px;
}

.message {
  margin-top: 20px;
}

.link {
  color: rgb(32, 177, 225);
  cursor: pointer;
}